{
	"presets": [
		[
			"@babel/env",
			{
				"targets": {
					"node": "current"
				}
			}
		],
		"@babel/typescript"
	],
	"plugins": [
		[
			"module-resolver",
			{
				"extensions": [".ts"],
				"root": ["."],
				"alias": {
					"@controller": "./src/controller",
					"@model": "./src/model",
					"@router": "./src/router",
					"@helper": "./src/util/helper",
					"@middleware": "./src/util/middleware",
					"~": "./src"
				}
			}
		]
	],
	"comments": false,
	"ignore": ["./src/__tests__"]
}
